h1{
	color:rgb(255, 26, 26);
	font-size: 60px;
	text-decoration: underline;
}
body{
	background-color: rgb(179, 198, 255);
}

#slider{
	display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px dashed black ;
}
#img{
	

	display: block;
  margin-left: auto;
  margin-right: auto;
}

#topic{
	font-size: 45px;
}
#text{
	font-size: 25px;
}