body{
	background: rgb( 51, 193, 255 );
}

h2{
	text-align: center;
	margin-top: 250px;
}
p{
	text-align:center;
		margin-top: 50px;


}

#reset{
	position: fixed;
	right:35%;
	padding: 15px 32px;
		margin-top: 100px;

}
#bp2{
	position: fixed;
	right:45%;
	padding: 15px 32px;
	margin-top: 100px;
}

#bp1{
	position: fixed;
	right:55%;
	padding: 15px 32px;	margin-top: 100px;

}

#input{
	position: fixed;
	right:45%;
	padding: 15px 32px;
	margin-top: 50px;
}
